{
  "log": {
    "loglevel": "warning",
    "access": "none",
    "error": "/tmp/xray-error.log"
  },
  "inbounds": [
    {
      "port": 12345,
      "listen": "0.0.0.0",
      "protocol": "dokodemo-door",
      "settings": {
        "network": "tcp,udp",
        "followRedirect": true
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"],
        "routeOnly": false
      },
      "streamSettings": {
        "sockopt": {
          "tproxy": "tproxy"
        }
      },
      "tag": "tproxy-in"
    },
    {
      "port": 12346,
      "listen": "127.0.0.1",
      "protocol": "socks",
      "settings": {
        "udp": true
      },
      "tag": "socks-in"
    }
  ],
  "outbounds": [],
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [
      {
        "type": "field",
        "inboundTag": ["tproxy-in", "socks-in"],
        "outboundTag": "proxy-out"
      }
    ]
  }
}
